<div class="user_cart_page"><h1><%= @user.first_name %>'s Cart</h1>
<div id="home_button"><%= button_to "account home", @user, method: :get %></div>

<div class="cart_items"><% session[@user.id]["cart"].each do |item_id, quantity| %>
        <div class="item"><div><% item = Item.find_by_id(item_id) %></div>
        <div><% price = quantity * item.price %></div>
        <div class="item_info"><%= pluralize(quantity, item.name) %> $<%= price.round(2) %></div>
        <div class="remove_button"><%= button_to "remove item", "/sessions/#{@user.id}/#{item_id}", method: :delete %></div></div>
    <% end %></div>
<div class="place_order"><%= button_to "place order", orders_path %></div></div>



