<div class="order_history_page"><h1><%=@user.first_name %>'s Orders</h1>
<%= button_to "account home", @user, method: :get%>
<div class="user_orders">
<% @orders.each do |order| %>
    <div class="order_summary"><h3>Order Number: <%= link_to order.order_number, "/orders/#{order.order_number}" %></h3>
    <% order.carts.each do |cart| %>
        <div class="cart_item"><%= cart.quantity %> <%= cart.item.name %></div>
    <% end %>
    <div class="total">Total: $<%= order.total_price %></div></div>
<% end %>
</div></div>
