<h1><%= "Welcome #{@user.first_name}!" %></h1>
<p><%= @user.first_name %></p>

<%= button_to "Create Order", '/orders/new', method: :get %>
<%= button_to "View Orders", '/users/:id/orders', method: :get %>
<%= button_to "Edit User Profile", '/users/edit', method: :get %>
<%= button_to "View Orders", '/users/:id/orders', method: :get %>
<%= button_to "Delete User Account", '/users/destroy' %>
<%= button_to "Logout", "/logout/#{@user.id}" %>

