<div class="display_order_page"><h1>Order Number: <%= @order.order_number %></h1>
<div id="home_button"><%= button_to "account home", @user, method: :get %></div>

<h3>Order Status: <%= @order.status %></h3>
<div class="order_items">
    <% @order.carts.each do |cart| %>
        <div class="item">
        <div><% name = cart.item.name %></div>
        <div><% quantity = cart.quantity %></div>
        <div><% price = quantity * cart.item.price %></div>
        <div><%= "#{pluralize(quantity, name)} $#{price.round(2)}" %></div>
        </div>
    <% end %>
    <div class="total_price">$<%= @order.total_price.round(2) %></div>
</div>
<div class="navigation">
<div><%= button_to "return to order history", "/users/#{@order.user_id}/orders", method: :get %></div>

<div><% if @order.status == "received" %>
    <%= button_to "cancel order", "/orders/#{@order.id}", method: :patch %>
<% end %></div>

<div><%= button_to "place a new order", "/orders/new", method: :get %></div></div></div>
