<div class="locations_page"><h1>Locations</h1>
<div id="home_button"><%= button_to "account home", @user, method: :get %></div>

<div class="locations">
<% @locations.each do |location| %>
    <div class="location"><h3><%= location.name %></h3>
    <div>Phone Nuber: <%= location.phone_number %></div>
    <div>Address:
    <div><%= location.address_line %></div>
    <div><%= location.city %>, <%= location.state %> <%= location.zipcode %></div></div>
    <div><%= form_for location, url: new_order_path, method: :get do |f| %></div>
        <%=f.hidden_field :id  %>
        <div><%=f.submit 'select location' %></div>
    <% end %></div>
<% end %>
</div></div>
